* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(to right, #00ffff,#FF00FF);
}

#save-clip{
    background-color: greenyellow;
    width: 100px;
    height: 40px;
    border-radius: 14px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
}

#save-clip:hover {
    background-color: rgb(127, 194, 26);
    color: gray;
    transition: all 0.5s ease;
    transform: scale(1.1);
}

#clear-clip {
    background-color: yellow;
    width: 100px;
    height: 40px;
    border-radius: 14px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
}

#clear-clip:hover {
    background-color: rgb(199, 199, 0);
    color: gray;
    transition: all 1s ease;
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
    transform: scale(1.1)
}

#delete-all {
    background-color: rgb(255, 0, 0);
    width: 100px;
    height: 40px;
    border-radius: 14px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    transform: scale(1)
}

#delete-all:hover {
    background-color: rgb(170, 0, 0);
    color:gray;
    transition: all 0.5s ease;
    transform: scale(1.1)
}

button {
    justify-content: space-between;
    margin-top: 30px;
    text-align: center;
    margin: auto;
}

ul {
    text-decoration: none;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.del-btn {
    height: 25px;
    background-color: red;
    border: 1px solid black;
    border-radius: 14px;
    margin: 2px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    transform: scale(1)
}

.del-btn:hover {
    background-color: rgb(170, 0, 0);
    transition: all 1s ease;
    transform: scale(1.1)
}

.del_btn_wrapper{
    display: none;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
}

.clip_target_wrapper:hover .del_btn_wrapper {
    display: block;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
}

.copy-btn {
    height: 25px;
    background-color: greenyellow;
    border: 1px solid black;
    border-radius: 14px;
    margin: 2px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    transform: scale(1)
}

.copy-btn:hover {
    background-color: rgb(127, 194, 26);
    transition: all 0.5s ease-in-out;
    transform: scale(1.1)
}

.copy-btn-wrapper {
    display: none;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
}

.clip_target_wrapper:hover .copy-btn-wrapper {
    display: block;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
}

p {
    font-weight: bold;
}

.clip_target_wrapper:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out,
}

.clip_target_wrapper {
    transition: all 0.5s ease-in-out;
    transform: scale(1)
}

#save-tab {
    background-color: greenyellow;
    width: 100px;
    height: 40px;
    border-radius: 14px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    transform: scale(1)
}

#save-tab:hover {
    background-color: rgb(127, 194, 26);
    color:gray;
    transition: all 0.5s ease;
    transform: scale(1.1)
}

#clip {
    border-radius: 20px;
    padding: 10px;
}

ul {
    margin:0px;
    padding: 30px;
}
