* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(to right, #00ffff, black);
}

.title {
  color: white;
}
/* gradient text for modern browsers */

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

#save-clip {
  background-color: cyan;
  color: black;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 14px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

#save-clip:hover {
  background-color: teal;
  color: white;
  transition: all 0.5s ease;
  transform: scale(1.1);
}

#clear-clip {
  background-color: orange;
  color: black;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 14px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

#clear-clip:hover {
  background-color: rgb(170, 111, 0);
  color: white;
  border: none;
  transition: all 1s ease;
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
}

#delete-all {
  background-color: rgb(243, 105, 105);
  color: black;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 14px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

#delete-all:hover {
  background-color: rgb(170, 0, 0);
  color: white;
  border: none;
  transition: all 0.5s ease;
  transform: scale(1.1);
}

button {
  justify-content: space-between;
  margin-top: 30px;
  text-align: center;
  margin: auto;
}

ul {
  text-decoration: none;
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.del-btn {
  height: 25px;
  background-color: rgb(243, 105, 105);

  border: none;
  border-radius: 14px;
  margin: 2px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

.del-btn:hover {
  background-color: rgb(170, 0, 0);
  color: white;
  border: none;
  transition: all 1s ease;
  transform: scale(1.1);
}

.del_btn_wrapper {
  display: none;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
  margin: 15px;
}

.clip_target_wrapper:hover .del_btn_wrapper {
  display: block;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

.copy-btn {
  height: 25px;
  background-color: cyan;
  color: black;
  border: none;
  border-radius: 14px;
  margin: 2px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

.copy-btn:hover {
  background-color: teal;
  color: white;
  border: none;
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
}

.copy-btn-wrapper {
  display: none;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
  margin: 15px;
}

.clip_target_wrapper:hover .copy-btn-wrapper {
  display: block;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

p {
  font-weight: bold;
  background-color: rgba(240, 248, 255, 0.479);
  padding: 5px;
  border-radius: 20px;
}

.clip_target_wrapper {
  transition: all 0.5s ease-in-out;
  transform: scale(1);
  cursor: pointer;
}

#save-tab {
  background-color: cyan;
  color: black;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 14px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

#save-tab:hover {
  background-color: teal;
  color: white;
  border: none;
  transition: all 0.5s ease;
  transform: scale(1.1);
}

#clip {
  border-radius: 20px;
  padding: 10px;
}

ul {
  margin: 0px;
  padding: 30px;
}
